<h1> Digite o nome a ser buscado no Twitter </h1>
<p><%= link_to 'Ver relatorio de buscas feitas', twitter_pdf_path %></p>
<form method='post' action='/search' >
  <input type='text' name='twitter_name' />
  <input type='submit' value='Buscar'>  
</form>