<h1> Listando os Resultados </h1>
<p> Termo de busca gravado no banco: <%= @search_term.user_name %> </p>

<%= @search_results.render.html_safe %>


<%= link_to 'fazer nova pesquisa', twitter_path %>
